@model IEnumerable<cprestegard_sp2026_assignment3.Models.MovieActor>

@{
    ViewData["Title"] = "Movie Actors";
}

<h1>Movie Actors</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Movie
            </th>
            <th>
                Actor
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CharacterName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MovieActorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MovieActorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MovieActorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
